<nav class="flex flex-row items-center justify-between  mx-auto bg-gray-200 opacity-95 shadow-md p-4">
    <div class="flex">
        <h2 class="font-semibold text-2xl text-gray-600">
            <a href="/">Hacker News</a>
        </h2>
    </div>
    <div class="flex items-center space-x-8 justify-between">
        <h2>
            <a href="/news">News</a>
        </h2>
        <h3>
            <a href="/ask">Ask</a>
        </h3>
        <h3>
            <a href="/news/submit">Submit</a>
        </h3>
    </div>
</nav>